.dark,
[data-theme='dark'] {
  --gr-progress-bg: var(--gr-primary);
  --gr-progress-neutral-bg: var(--gr-secondary);
  --gr-progress-success-bg: var(--gr-success);
  --gr-progress-warning-bg: var(--gr-warning);
  --gr-progress-danger-bg: var(--gr-danger);
  --gr-progress-info-bg: var(--gr-info);
  --gr-progress-slate-bg: var(--gr-slate);
  --gr-progress-azure-bg: var(--gr-azure);
  --gr-progress-buffer-bg: var(--gr-brd);
  --gr-progress-indeterminate-bg: var(--gr-muted-fg);
}