:root {
  --pb-bg: var(--primary);
  --pb-neutral-bg: var(--secondary);
  --pb-success-bg: var(--gr-success);
  --pb-warning-bg: var(--gr-warning);
  --pb-danger-bg: var(--gr-danger);
  --pb-info-bg: var(--gr-info);
  --pb-slate-bg: var(--gr-slate);
  --pb-azure-bg: var(--gr-azure);
}
