/*
 * DsIcon.
 *
 * This must be global because icons are usually passed via slots (SVG),
 * and we want consistent sizing without relying on SFC scoped + :deep.
 */

:where(.ds-icon) {
  width: var(--ds-icon-size);
  min-width: var(--ds-icon-size);
  height: var(--ds-icon-size);
  line-height: 0;
  flex: none;
}

:where(.ds-icon svg) {
  width: 100%;
  height: 100%;
  display: block;
}